@font-face {
    font-family: 'CookieRun Black';
    src: url(../fonts/CookieRunFont_OTF/black.otf);
}

@import url(//fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap);
@import "reset.css";

body {
    font-family: 'Noto Sans KR';
    margin: 0;
    padding: 40px 0;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#canvas {
    font-family: 'CookieRun Black';
    width: 500px;
    height: 500px;
    background-color: white;
}

button, #name {
    border-radius: 2vh;
    padding: 1.5vh;
    font-size: 2.5vh;
    outline: none;
}

button:hover {
    background-color: hsl(226, 100%, 58%);
}

button {
    cursor: pointer;
    border: 0;
    background-color: blue;
    color: white;
}

#name {
    border: 1px solid black;
    background-color: white;
    color: black;
    width: 35vh;
}

#range, #save, #range-size {
    margin-top: 3vh;
}

#range {
    width: 40vh;
}

#ie, #range-size {
    margin-bottom: 3vh;
}