input[type=text] {
    border: 1px solid #222428;
    background-color: transparent;
    color: black;
    width: calc(30vh + 30px);
    border-radius: 15px;
    padding: 10px;
    font-size: 2.5vh;
    outline: none;
    /*transition: border-color .2s ease-in-out;
    -webkit-transition: border-color .2s ease-in-out;
    -moz-transition: border-color .2s ease-in-out;
    -o-transition: border-color .2s ease-in-out;*/
}

input[type=text]:focus {
    outline: none;
}